{% extends 'base.html' %} 
{% block title %} IndrAnna | About {% endblock %} 

{% block content %}

<div class="container">
  <h1 class="display-4 route-heading">About Us</h1>
  <div class="row">
    <div class="col-md-5">
      We are Successfully working on IT and networking field from many years.
      CCTV, Networking. Computer Server. Windows and mac solution, advance
      Security System, virus Protection, Cisco Routing, Fiber Networking,
      Wireless Access Point Device, Advance management Devices, Website
      Development, Graphic Designing, Video Graphics, Network Wiring Like
      Professional, Microtik Networking, Routing, Bandwidth Control and many
      more new or old devices.

      <br />
      <br />
      <p><i class="fas fa-check-circle"></i> Success On Networking</p>
      <p>
        <i class="fas fa-check-circle"></i> 100% professional and Experienced Manpower
      </p>
      <p>
        <i class="fas fa-check-circle"></i> Ready for Online or Offline Solution
      </p>
    </div>
    <div class="col-md-7">
      <img id="about-image" src="../static/front-DEsgine-3.png" alt="" />
    </div>
  </div>
</div>
{% endblock %}
