{% extends 'base.html' %}

{% block title %}
    IndrAnna | Services
{% endblock %}

{% block content %}
    <div class="container route-heading">
        <h1 class="display-4 text-center">Our Indispensable Services</h1>
        <div class="gallery">
            <div class="row">
                <div class="col-md-4">
                    <a href="../static/lightbox-images/data-recovery.jpg" data-lightbox="mygallery" data-title="Data Recovery">
                        <img src="../static/lightbox-images/data-recovery.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../static/lightbox-images/router-installation.jpg" data-lightbox="mygallery"
                        data-title="Router Installation">
                        <img src="../static/lightbox-images/router-installation.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../static/lightbox-images/privacy-protection.jpg" data-lightbox="mygallery"
                        data-title="Privacy Protection">
                        <img src="../static/lightbox-images/privacy-protection.jpg" alt="">
                    </a>
                </div>

                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/computer-repair.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="Computer Repair">
                        <img src="../static/lightbox-images/computer-repair.jpg" alt="">
                    </a>
                </div>
                <br><br>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/cctv-installation.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="CCTV Installation">
                        <img src="../static/lightbox-images/cctv-installation.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/online-cloud-storage.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="Online Cloud Storage">
                        <img src="../static/lightbox-images/online-cloud-storage.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/printer-repair.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="Printer Repair">
                        <img src="../static/lightbox-images/printer-repair.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/email-retrieval.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="Email Retrieval">
                        <img src="../static/lightbox-images/email-retrieval.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/internet-wifi.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="Wifi Installation and Troubleshooting">
                        <img src="../static/lightbox-images/internet-wifi.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/file-sharing.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="File Sharing">
                        <img src="../static/lightbox-images/file-sharing.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/networking.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="Networking">
                        <img src="../static/lightbox-images/networking.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-4">
                    <a href="../static/lightbox-images/website-design.jpg" class="d-block w-100" data-lightbox="mygallery"
                        data-title="Website Development">
                        <img src="../static/lightbox-images/website-design.jpg" alt="">
                    </a>
                </div>
            </div>  
        </div>
    </div>

{% endblock %}